[submodule "vendor/dynlibutils"]
	path = vendor/dynlibutils
	url = https://github.com/SlynxCZ/DynLibUtils.git
	branch = main
[submodule "vendor/sourcehook"]
	path = vendor/sourcehook
	url = https://github.com/SlynxCZ/SourceHook.git
